@inherits LayoutComponentBase

<div class="topbar-container">
  <div class="container">
    <TopBar />
  </div>
</div>

<header class="header">
  <div class="container">
    <NavMenu />
  </div>
</header>

<div class="main-content">
  @Body
</div>

<FooterComponent />
