@inject OrderState _orderState

<div class="align-items-center d-flex header-inner py-4">
  <a href="/" class="logo mr-5">Simple Blazor</a>
  <nav class="flex-fill menu">
    <a href="#">Phones</a>
    <a href="#">Tablets</a>
    <a href="#">Computers</a>
    <a href="#">Accessories</a>
  </nav>
  <div class="menu-right">
    <button type="button" class="menu-right-button search-button">
      <i class="zmdi zmdi-search"></i>
    </button>
    <button type="button" class="menu-right-button">
      <i class="zmdi zmdi-shopping-cart"></i> (@(_orderState.Order.Products.Count))
    </button>
  </div>
</div>

@code {
    protected override void OnInitialized()
    {
        _orderState.OrderChanged += StateHasChanged;
    }
}
