<div class="d-flex justify-content-between topbar">
  <div class="topbar__left">Free shipping for standard order over $100</div>
  <div class="d-flex topbar__right">
    <a href="#">Help &amp; FAQs</a>
    <a href="#">Log in</a>
    <a href="#">Register</a>
  </div>
</div>
