<div class="d-flex justify-content-end topbar">
  <div class="topbar__item">
    <a href="#">Language (en-US)</a>
  </div>
  <a class="topbar__item" href="#">Log in</a>
  <a class="topbar__item" href="#">Register</a>
</div>
