@import url("open-iconic/font/css/open-iconic-bootstrap.min.css");

html,
body {
  font-family: "Poppins", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  color: #b2b2b2;
}

/* topbar */
.topbar-container {
  height: 40px;
  background: #222;
  color: #b2b2b2;
  font-size: 0.85rem;
}

.topbar-container a {
  color: #b2b2b2;
  line-height: 40px;
  padding-left: 1rem;
  padding-right: 1rem;
}

.topbar-container a + a {
  border-left: 1px solid;
}

.topbar__left {
  line-height: 40px;
}

/* header */
.menu a {
  color: #333;
  padding: 0.5rem;
  text-decoration: none;
  font-weight: 600;
  font-size: 0.85rem;
}

.logo {
  font-weight: 600;
  font-size: 1.5rem;
  color: #333;
  text-decoration: none;
}

.header a:hover {
  color: #c5970d;
  text-decoration: none;
}

.header a {
  transition: 0.25s ease;
}

.menu-right-button {
  display: inline-flex;
  border: none;
  background: #fff;
  width: 32px;
  height: 32px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 1rem;
  margin: 0 0.5rem;
}

.menu-right-button.search-button {
  border: 1px solid #eee;
}

/* slider */
.slider {
  background-image: url(/images/slider.jpg);
  height: 400px;
  background-position: top center;
  background-repeat: no-repeat;
}

/* widget */
section.widget-container {
  padding: 2rem 0;
}

section.widget-container > header {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 2rem;
  color: #333;
}

.widgets {
  display: flex;
}

.widget {
  width: 25%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background: #fff;
  transition: all 0.3s ease-in-out;
  transition-property: box-shadow, transform;
  padding: 1rem;
  border-radius: 8px;
  position: relative;
}

.widget__image {
  display: block;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.widget__image img {
  display: block;
  max-width: 100%;
}

.widget__footer {
  min-height: 63px;
}

.product__name {
  display: block;
  font-weight: 600;
  font-size: 1rem;
}

.widget:hover {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  z-index: 1;
  transform: translateY(-8px);
}

.price.price__old {
  font-size: 0.8rem;
  text-decoration: line-through;
}

.price.price__current {
  color: #f42;
  font-weight: 600;
  font-size: 0.85rem;
}

/* footer */
.footer {
  background: #333;
  padding: 1rem;
  min-height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  text-transform: uppercase;
}

/* product */
ul.breadcrumb li + li:before {
  font: normal normal normal 14px/1 "Material-Design-Iconic-Font";
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  content: "\f2fb";
  position: absolute;
  left: 0;
  top: calc(7px / 2);
}

ul.breadcrumb li {
  font-size: 0.85rem;
  padding: 0 1rem;
  position: relative;
}

ul.breadcrumb {
  padding: 0.5rem 0;
}

.product__image img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

h1.product__name {
  font-size: 2rem;
  color: #333;
  border-bottom: 1px solid #eee;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.product__detail {
  font-size: .9rem;
  color: #666;
}

.product-section > h3 {
    font-size: 2rem;
    font-size: 1.5rem;
    color: #333;
    font-weight: 600;
    text-transform: uppercase;
}